{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
          "react"
        ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
      },

    "env": {
        "browser": true,
        "node": true
        } 
}